$primary: #9ec32e;
$primary-dark: #96ba2c;
$primary-light: #e8f2c9;
$secondary: #F2522E;
$red: #ba0202;
$white: #FFFFFF;
$black: #000000;
$dark: #3f3f3f;
$background: rgb(238, 237, 237);
$gray: #ccc;

$colors:(
    primary: $primary,
    secondary: $secondary,
)