@import 'variables';
@import 'components/buttons';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    h3 {
        margin-top: 1em;
        font-size: 1.3em;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
    }
}

#grilla {
    display: grid;
    grid-template-areas:
        'header'
        'contenido'
        'footer';
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    grid-row-gap: 1em;
    height: 100vh;
}

/*---HEADER---*/
header {
    grid-area: header;
    background-image: linear-gradient(to right, rgba(67, 124, 40, 0.292), rgba(0, 0, 0, 0.329)), url(../img/hero_2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: $white;

    nav {
        background-color: $primary;
        padding: 0 8em !important;
    }

    .nav {
        &__logo img {
            width: 120px;
        }

        &__list li {
            list-style: none;
            padding-right: 2em;
            a {
                text-decoration: none;
                color: $white;
            }
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        margin: 6em auto 2em;
        overflow-wrap: normal;
        animation: 2s appear ease-out;
        text-align: center;
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 0em 8em;

        &__title {
            margin-bottom: 0.3em;
            font-size: 4em;
            font-weight: bold;
        }

        &__description {
            margin-bottom: 2em;
            line-height: 1.5em;
        }
    }
}

/*---MAIN---*/

main {
    grid-area: contenido;
    width: 90%;
    margin: 0 auto;
    padding: 2em 8em;
    section {
        margin: 4em 0 6em 0;
        h2 {
            color: map-get($map: $colors, $key: primary);
            text-align: center;
            font-weight: bold;
        }
    }
}

.header--principal {
    height: 100vh;
}

/*---FEATURES---*/
.features {
    margin-top: -6em;
    background: $white;
    padding: 4.5em 2em 4em;
    box-shadow: 0 16px 24px 0 rgba(50, 50, 50, 0.07);
    border-radius: 15px;
    .feature {
        padding: 1em;
        border-radius: 10px;

        &:hover {
            transform: scale(1.1);
        }

        &__img {
            width: 100px;
        }

        &__title {
            font-weight: bold;
            margin-bottom: 1em;
        }

        &__description {
            line-height: 1.5em;
        }
    }
}

/*---US---*/

.us {
    &__body__description {
        margin-top: 2em;
        line-height: 1.5em;
        margin-bottom: 2em;
    }

    &__img {
        object-fit: cover;
    }
}

/*---TESTIMONIALS---*/

.testimonial {
    text-align: center;
    padding: 1em;

    &:hover {
        transform: scale(1.1);
    }

    &__img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }

    p {
        line-height: 1.5em;
    }
}

/*---TEACHER---*/

.teacher {
    padding: 1em;
    text-align: center;

    &:hover {
        transform: scale(1.1);
    }

    &__title {
        text-align: center;
        padding: 1em;
        font-weight: bold;
    }

    &__img {
        border-radius: 50%;
        object-fit: cover;
        width: 100px;
        height: 100px;
    }

    p {
        line-height: 1.5em;
    }
}

/*---WHY---*/

.why {
    &__body__description {
        margin-top: 2em;
        margin-bottom: 2em;
    }
    &__img {
        object-fit: cover;
    }
}

/*---TEACHER RESULTS---*/

.filters {
    margin-bottom: 0em;
    padding: 2em;
    border-radius: 10px;
    border: 1px solid $primary;
    background-color: $primary-light;

    &__select {
        margin: 0 1em;
    }
}

select {
    padding: 1em;
    display: inline-block;
    border: 1px solid $gray;
    border-radius: 4px;
    box-sizing: border-box;
}

.results {
    margin-top: 0em;
}

.results__title {
    text-align: center;
    padding: 1em;
}

.result {
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 10px;
    border: 1px solid $primary;
    background-color: $primary-light;

    &:hover {
        border: 1px solid $primary-dark;
    }

    &__img {
        border-radius: 50%;
        object-fit: cover;
        width: 100px;
        height: 100px;
    }

    &__name {
        margin-top: 1em;
        color: $black;
    }

    &__course {
        color: $dark;
        font-size: 0.8em;
        margin-top: 1em;
    }

    &__description {
        color: $dark;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    &__price {
        color: $red;
        margin-top: 1em;
        font-weight: bold;
        margin-bottom: 2em;
    }
}

/*---BENEFITS---*/

.benefits {
    margin-top: 0em;
    &__body {
        display: flex;
        flex-wrap: wrap;
        margin: 2em auto 0em;
    }
}

.benefit {
    text-align: center;
    padding: 1em;
    width: 30%;
    margin: 1em;
    background-color: $background;
    border-radius: 10px;

    &:hover {
        transform: scale(1.1);
    }

    &__img {
        width: 100px;
    }

    &__title {
        font-weight: bold;
        margin-bottom: 1em;
    }
}

/*---QUESTIONS---*/

.accordion-button {
    &:not(.collapsed) {
        color: black;
        font-weight: bold;
        background-color: $primary-light;
        box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
    }
}

/*CONTACT*/

.contact {
    margin-top: 0;
    .button {
        margin-top: 2em;
    }
    select {
        display: block;
        width: 100%;
    }

    .form {
        &__textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid $gray;
            border-radius: 4px;
            resize: vertical;
        }

        &__text {
            display: block;
            padding: 12px 20px;
            border: none;
            width: 100%;
            border-radius: 4px;
            border: 1px solid $gray;
        }
    }

    label {
        padding: 1em 1em 1em 0;
        display: inline-block;
    }
}

/*---FOOTER---*/

footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $primary;
    padding: 2em 8em;

    .social {
        width: 20px;
    }
}

.footer {
    &__logo {
        width: 150px;
    }

    &__list {
        padding: 1em;
        li {
            list-style: none;
            margin-bottom: 1em;
            a {
                text-decoration: none;
                display: inline-block;
                color: $white;
            }
        }
    }

    &__subscribe {
        padding: 1em;
        h4 {
            font-size: 1.5em;
            color: $white;
            margin-bottom: 0.5em;
        }
        input {
            height: 30px;
            padding: 0 1em;
            border-radius: 5px;
            border: 0;
        }
        &__social {
            margin-top: 1em;
            a {
                color: $white;
                padding: 0.5em;
            }
        }
    }
}

.button--white {
    background-color: $white;
    border: 0;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    header,
    .header--principal {
        height: auto;
        .hero {
            padding: 1em;
            text-align: center;
            width: 85%;

            &__title {
                font-size: 3em;
                margin-bottom: 1em;
            }

            &__description {
                margin-bottom: 2em;
                line-height: 1.5em;
            }
        }

        nav {
            padding: 1em !important;
        }
    }

    main {
        padding: 2em;
        .features {
            margin-top: 0em;
            border: 0;
            padding: 0;
            box-shadow: none;

            .feature {
                text-align: center;
            }
        }
    }

    .benefit {
        width: 50%;
    }

    footer {
        padding: 4em;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        ul {
            flex-direction: column;
            li {
                margin-bottom: 1em;
            }
        }
    }

    main {
        width: 90%;
    }

    .benefit,
    .feature,
    .testimonial {
        width: 100%;
    }

    .us,
    .why {
        text-align: center;
    }
}

@media (max-width: 480px) {
    header,
    .header--principal {
        .hero {
            text-align: center;
            &__title {
                font-size: 2.5em;
                margin-bottom: 1em;
            }
            &__description {
                margin-bottom: 2em;
                line-height: 1.5em;
                width: 100%;
            }
        }
    }

    main {
        padding: 1em;
    }

    footer {
        padding: 1em;
    }
}
